@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #536976, #292E49);

    --background: 215 11.05% 3.2%;
    --foreground: 215 1.7000000000000002% 97%;

    --muted: 215 8.5% 12%;
    --muted-foreground: 215 1.7000000000000002% 54%;

    --popover: 215 61.6% 5.2%;
    --popover-foreground: 215 1.7000000000000002% 97%;

    --card: 215 61.6% 5.2%;
    --card-foreground: 215 1.7000000000000002% 97%;

    --border: 215 8.5% 12%;
    --input: 215 8.5% 12%;

    --primary: 215 17% 40%;
    --primary-foreground: 215 1.7000000000000002% 97%;

    --secondary: 215 8.5% 12%;
    --secondary-foreground: 215 1.7000000000000002% 97%;

    --accent: 215 8.5% 12%;
    --accent-foreground: 215 1.7000000000000002% 97%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 1.7000000000000002% 97%;

    --ring: 215 17% 40%;
    --radius: 0.75rem;
  }
}

.gradient-background {
  background: var(--gradient)
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}