@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #536976, #292E49);

    --background: 215 11.05% 3.2%;
    --foreground: 215 1.7000000000000002% 97%;

    --muted: 215 8.5% 12%;
    --muted-foreground: 215 1.7000000000000002% 54%;

    --popover: 215 61.6% 5.2%;
    --popover-foreground: 215 1.7000000000000002% 97%;

    --card: 215 61.6% 5.2%;
    --card-foreground: 215 1.7000000000000002% 97%;

    --border: 215 8.5% 12%;
    --input: 215 8.5% 12%;

    --primary: 215 17% 40%;
    --primary-foreground: 215 1.7000000000000002% 97%;

    --secondary: 215 8.5% 12%;
    --secondary-foreground: 215 1.7000000000000002% 97%;

    --accent: 215 8.5% 12%;
    --accent-foreground: 215 1.7000000000000002% 97%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 1.7000000000000002% 97%;

    --ring: 215 17% 40%;
    --radius: 0.75rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

}

.gradient-background {
  background: var(--gradient)
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* .hide-arrows{
  -moz-appearance: textfield;
} */
.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bg-about {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) url('/public/about.jpg');
}

.ql-container {
  border: 1px solid hsl(var(--border)) !important;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  /* Force override with !important */
  background: hsl(var(--background)) !important;
}

.ql-toolbar {
  border: 1px solid hsl(var(--border)) !important;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background: hsl(var(--background)) !important;

  /* Match toolbar border */
}